@import url('https://urldefense.proofpoint.com/v2/url?u=https-3A__fonts.googleapis.com_css-3Ffamily-3DRaleway-3A300-2C700&d=DwIGaQ&c=RoP1YumCXCgaWHvlZYR8PZh8Bv7qIrMUB65eapI_JnE&r=_jHJK-Rs32G6V11q5JppjssJ8riDjB-Gb-b7OKNxVB4&m=KK3o-cvoZCHy76MjHVpvnI9UleQ4jMo3CLdcYEoi_uE&s=ABg-B51rk2DWqOpj2f9T_Tsr5jEZUOcLDKrXwlAn9HU&e=');

body {
     background:#2E9CE6;
     padding: 3em;
     font-family: 'Raleway', 'Arial';
     color:#fff;
}
ul {
     list-style-type:none;
     margin:0 0 2em 0;
     padding:0;
}
ul li {
     display:inline;
     margin-right: 30px;
}
ul li a {
     font-size: 1.5em;
}
a {
     color:#fff;
     text-decoration:none;
}

.container {
     display: grid;
     grid-template-columns: 50% auto;
}
.col {
     padding: .4em 1.3em;
}
.color-dark {
     background: #2885C4;
}
.color-light {
     background: #57B3F1;
}

input.txt {
     border: 0;
     padding: 1em;
     width: 80%;
     margin-bottom: 2em;
}
input.btn {
     border: 0;
     display:block;
     padding:1em 3em;
     background:#A5F883;
     color:#003A61;
     margin-bottom:1em;
     cursor:pointer;
}
.life-container {
     background:#3FA0E1;
     padding:.5em;
     font-weight:bold;
     cursor:pointer;
}


